.order {
  display: flex;
  flex-direction: column;
}

.mat-list {
  min-height: 200px;
}

.mat-list-item {
  height: unset!;
}

.order-total {
  margin: 20px 0 20px auto;
  font-style: bold;
}

.dish-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 64px;
}

.dish-content h5 {
  margin: auto 0;
}

.dish-content__quantity {
  display: flex;
}

.dish-content__form {
  margin-top: auto;
  max-width: 80px;
}

.pickup-picker {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin-left: auto;
}

.pickup-picker__forms {
  display: flex;
  flex-direction: column;
  max-width: 180px;
  margin: 0 0 0 auto;;
}

p {
  display: inline;
  padding-left: 12px;
  margin: auto 0;
}