<mat-toolbar>
  <a class="home-link" routerLink="/home">Second Helpings</a>

  <mat-menu #appMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="navToCart()">Cart <mat-icon>shopping_cart</mat-icon></button>
    <button mat-menu-item *ngIf="loggedIn | async" (click)="logout()">Logout</button>
  </mat-menu>
  
  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div class="app">
  <router-outlet></router-outlet>
</div>
