.app {
  width: 90%;
  margin: 0 auto;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
}

.mat-list-item {
  height: unset!;
}

.menu-controls {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  width: auto;
  display: flex;
}

.menu-icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 8px;
}