.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
}

button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.card-list-item {
  min-width: 300px;
}

.dish-info {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.add-btn {
  max-height: 48px;
  max-width: 80px;
  min-width: 80px;
  margin: 0 0 0 16px;
}

.mat-expansion-panel {
  width: 400px;
}

@media (max-width: 600px) {
  .dish-info {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .add-btn {
    height: 48px;
    margin: 16px 0 0 0px;
  }

  .mat-expansion-panel {
    width: 300px;
  }
}