.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0;
}

button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.card-list-item {
  /* margin: 12px 0; */
  min-width: 300px;
}

.dish-info {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
}

.add-btn {
  max-height: 48px;
  max-width: 80px;
}