.container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

h2 {
  margin-left: auto;
  margin-right: auto;
}

button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.card-list-item {
  /* margin: 12px 0; */
  min-width: 300px;
}

.dish-info {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-btn {
  max-height: 48px;
}